.idea
.vscode
.DS_Store

# Python build artifacts
build/
dist/
# MacOS built-in
*.egg-info/

# Ignore compiled Python files
**/__pycache__/
# Ignore the topic branch's .pyc files *.pyc
**/*.pyo
# Ignore all
**/*.pyc


